.container{
  width: 80vw;
  height: 100%;
  font-size: 18px;
  margin-left: 10vw;
  margin-right: 10vw;
}

.contain_chat{
    background: beige;
    width: 100%;
    height: 900px;
}

.chat_div{
    display: inline-block;
    width: 100%;
    /* height: 100%; */
}
